{% extends 'baseAdmin.html.twig' %}

{% block title %}New Categorias{% endblock %}

{% block body %}
    <h1>Create new Categorias</h1>

    {{ include('admin_categorias/_form.html.twig') }}

    <a href="{{ path('admin_categorias_index') }}">back to list</a>
{% endblock %}
